<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Project Vue Component</title>
</head>

<body>
    <div id="app">
        <span style="margin-left: 10px; font-size: 20px;">{{ result }}</span><br>
        <bomb-button :is-bomb="true" @bomb="bomb" @click="setCount"></bomb-button>
        <bomb-button></bomb-button>
        <bomb-button></bomb-button>
        <br>
        <bomb-button></bomb-button>
        <bomb-button :is-bomb="true"  @bomb="bomb" @click="setCount"></bomb-button>
        <bomb-button :is-bomb="true"  @bomb="bomb" @click="setCount"></bomb-button>
        <br>
        <bomb-button></bomb-button>
        <bomb-button></bomb-button>
        <bomb-button :is-bomb="true"  @bomb="bomb" @click="setCount"></bomb-button>
    </div>
<script type="text/x-template" id="bomb-button">
    <button style="width: 50px; height: 50px; margin : 10px; font-size: 30px" @click="open"> {{ bombvalue }} </button>
</script>

    <script>
        Vue.component('bomb-button', {
            props: {
                isBomb: Boolean
            },
            data: function () {
                return {

                    bombvalue: '-'
                };
            },
            methods: {
                open: function () {
                    if (!this.isBomb) return;
                    this.$emit('click');
                    this.bombvalue = '*';
                    this.$emit('bomb');
                }
            },
            template: '#bomb-button',
        });
        var app = new Vue({
            el: '#app',
            data: {

                count:0,
                result:'!!!!'
            },
            methods: {
                bomb: function(){
                    console.log('bomb');
                    this.result = '!!!!Boommmmmmmm!!!! '+ this.count +'!!!!' ;
                },
                setCount: function(){
                    this.count++;
                }
                
            },
            computed: {

            },
        });
    </script>
</body>

</html>