<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Project Vue</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="FristName" v-model="person.fristName"><br>
        <input type="text" placeholder="LastName" v-model="person.lastname"><br>
        <input type="number" placeholder="Age" v-model="person.age"><br>

        <input type="radio" id="male" name="gender" value="male" v-model="person.gender">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female" v-model="person.gender">
        <label for="female">Female</label><br>

        <input type="checkbox" id="Dog" value="Dog" v-model="person.pets">
        <label for="Dog"> Dog</label>
        <input type="checkbox" id="Cat" value="Cat" v-model="person.pets">
        <label for="Cat"> Cat</label>
        <input type="checkbox" id="Bird" value="Bird" v-model="person.pets">
        <label for="Bird"> Bird </label><br>

        <select v-model="person.role">
            <option value="" disabled>Select role</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <br>
        <span>{{ person }}</span>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                person: {
                    fristName: '',
                    lastname: '',
                    age: '',
                    gender: '',
                    pets: [],
                    role: ''
                }


            }
        });
    </script>


</body>

</html>